.navigation {
    background-color: #474d59;
    color: #ffffff;

}

.div-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.header-name {
    font-size: 1.5em;
}

.header-menu {
    border: 1px solid #ffffff;
    border-radius: 5%;
    padding: 5px;
}