.navigation {
    background-color: var(--background-color);
    color: var(--text-color);

}

.div-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    z-index: 1;
}

.header-name {
    font-size: 2.5em;
}

.header-menu {
    border: 1px solid grey;
    border-radius: 5%;

}

.header-menu-name {
    display: none;
}

.header-menu:hover {
    box-shadow: 0 1px 5px var(--text-color);
}

.header-img {
    padding: 0 10px;
}

@media screen and (min-width: 776px) {
    .header-menu {
        display: flex;
    }

    .header-name {
        font-size: 2em;
        padding-top: 10px;
    }

    .header-menu-name {
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px ) {
    .div-block {
        padding: 20px;
    }

}