.container-movies {
    padding: 20px 0;
}

.container-name {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--second-text-color);
}

.movie-image {
    box-shadow: 0 3px 5px var(--text-color);
    margin-bottom: 10px;
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.display-hidden {
    visibility: hidden;
}

@media screen and (min-width: 776px ) {
    .container-name {
        font-size: 1.5em;
        margin-left: 10px;
    }

    .movie-image {
        margin-left: 10px;
        width: 322px;
    }

    .display-flex {
        display: block;
    }

}

