.container-movies {
    padding: 20px 0;
}

.container-name {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 10px;
    color: var(--second-text-color);
}

.movie-image {
    box-shadow: 0 3px 5px var(--text-color);
    margin-bottom: 10px;
}

.display-flex {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display-none {
    display: none;
}

.display-inline {
    position: relative;
}

.display-inline:hover > img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.display-inline:hover > p {
    position: absolute;
    z-index: 1;
    text-shadow: black 0 2px 2px;
    top: 150px;
    left: 40px;
    color: #21a7eb;
    font-size: 3em;
    font-weight: bold;
    display: block;
}


@media screen and (min-width: 576px ) {
    .movie-image {
        margin-left: 10px;
        width: 250px;
        height: 350px;
    }

    .display-flex {
        display: block;
    }

    .display-inline {
        display: inline-block;
    }
}

@media screen and (min-width: 776px ) {
    .container-name {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .movie-image {
        width: 349px;
        height: 482px;

    }
}

@media screen and ( min-width: 992px) {
    .movie-image {
        width: 304px;
        height: 420px;

    }
}

@media screen and ( min-width: 1200px) {
    .movie-image {
        width: 322px;
        height: 482px;

    }
}