.container-movies {
    padding: 20px 0;
}

.container-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.movie-image {
    width: 210px;
    box-shadow: 0 1px 5px #474d59;
    margin-left: 5px;
    margin-bottom: 10px;
}

