.footer-btn {
    display: flex;
    justify-content: center;
}

.button-footer {
    padding: 15px 50px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

.button-footer + .button-footer {
    margin-left: 10px;
}

.button-footer:hover {
    box-shadow: 0 1px 5px var(--text-color);
}