@import url('reset.css');
@import url('grid.css');
@import url('header/header.css');
@import url('movies/movies.css');
@import url('buttons/buttons.css');
@import url('detail-movie/detailMovies.css');

:root {
    --background-color: #474d59;
    --text-color: #bdbdbd;
    --second-text-color: #5c5a5a;
}

.display-none {
    /*visibility: hidden;*/
    display: none;
}